body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
article{
  flex-grow: 1;
}
footer{
  margin-top: auto;
  flex-grow: 1;
}
.imgbox{
  display:grid;
  height:100%;
}
.center-fit{
  max-width: 100%;
  max-height:100vh;
  margin:auto;
}
.center-header{
  padding-top: 2.5%;
  text-align: center;
  font-family: "Century Gothic";
}
.intro-p{
  text-align:center;
  font-family: "Century Gothic";
}
.btn-container{
  padding-top:2.5%;
}
.signup-btns{
  text-align: center;
  font-family: "Century Gothic";
  font-size: 30px;
}
.signup-btns li{
  display: inline;
  text-align:center;
  background: #343a40;
  border-radius: 10px;
  padding:10px 30px;
  margin-left: 3%;
  margin-right:3%;
}
.signup-btns li a{
  text-decoration: none;
  color: #bfbfbf;
}
.signup-btns li a:hover{
color:#ededed;
}
.container{
  display: block;
  text-align: left;
  color: #ededed;
  font-size: 25px;
  padding-left: 30%;
}
.mappingbox{
  padding: 1.4% 2% 1% 2%;
  margin-top:3%;
  margin-left:2.5%;
  margin-right:2.5%;
  border-radius: 8px;
  text-align: center;
  background-color: #212121;
}
.innerbox{
  display:inline-block;
  margin: 0 auto;
  background-color: #FF0000;
}
#map {
  height: 60vh;
  width: 90vw;
}
.container1{
  max-width: 1500px;
  margin: 0% 2% 2% 2%;

}
.grid_container{
padding-top:30px;
display:grid;
grid-template-columns: 1fr 1fr 1fr;
grid-column-gap: 5%;
grid-row-gap:2.5%;
padding-left:12%;
padding-right:5%;
}
.grid_container .stat{
  background-color: #212121;
  border-radius:8px;
  width:70%;
  height:20vh;
}
.stat .stat_name{
  font-size: 20px;
  color:#ededed;
  font-family:"Century Gothic";
  padding-left: 20px;
  padding-top:15px;
  min-height:70px;
}
.container2{
  margin: 0% 2% 2% 2%;
  padding: 0px 10px 450px 10px;
}
.db_output{
  display:inline-block;
  margin:0 auto;
  width:60%;
  height:50vh;
  border-radius:8px;
  background-color: #212121;
  float:left;
}
.chart{
  display:inline-block;
  width:35%;
  height:50vh; /* placeholder padding before adding content */
  border-radius:8px;
  background-color: #212121;
  float:right;
}
.titles{
  font-size:20px;
  color:#ededed;
  font-family:"Century Gothic";
  padding-left:30px;
  padding-top:15px;
}

